//------------------------------------------------------------------
//  COLORS
//------------------------------------------------------------------
//------------------------------------------------------------------
//  COLORS: ELEMENTS
//------------------------------------------------------------------
//
//  Primary
//
$color-primary: #2d7356;
$color-primaryContainer: #66f0b7; 
$color-primaryStroke: #0c2b1e; 
$color-primaryDim: #1c4d39; 
$color-primaryLite: #6c9d89; 
//
//  Secondary
//
$color-secondary: #4a31e7;
$color-secondary-200: #C6C4FA;
$color-secondaryStroke: #120753;
$color-secondaryContainer: #edecfd;
//
//  Tertiary
//
$oolor-tertiary: #e4f066;
$oolor-tertiaryStroke: #131404;
$oolor-tertiaryContainer: #f2f8b3;
//
//  Error
//
$color-error: #cd327b;
$color-errorStroke: #270313;
$color-errorContainer: #fbdde6;
//------------------------------------------------------------------
//  COLORS: UI
//------------------------------------------------------------------
$color-stroke: #101111;
$color-stroke-mid: #434644;
$color-stroke-lite: #A5AAA6;
$color-surface: #f2f4f3;
