//------------------------------------------------------------------
//  MAIN.SCSS
//------------------------------------------------------------------
@use '__config.scss' as *;
/*-------------------------------------------------------------------
 *   STATES
 *------------------------------------------------------------------*/

/*-------------------------------------------------------------------
 *   SEMANTIC
 *------------------------------------------------------------------*/
/*
 *  ALL
*/
* {
    /*DISPLAY*/
    margin: 0;
    padding-inline: 0;
    box-sizing: border-box;
    /*TEXT*/
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
/*
 *  BODY
*/
body {
    /*POSTITION*/
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    /*DISPLAY*/
    @include flex__col--center();
    /*BACKGROUND*/
    background: $color-surface;
}
//body > * {@include debug__border();}
/*
 *  HEADINGS
*/
h1, h2, h3, h4, h5 {}
/*-------------------------------------------------------------------
 *   NAV ELEMENTS
 *------------------------------------------------------------------*/
/*
 *  NAV
*/
nav {
    /*FLEX*/
    /*GRID*/
    /*POSTITION*/
    /*DISPLAY*/
    /*BORDER*/
    /*BACKGROUND*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSFORM*/
    /*ANIMATION*/
}
/*-------------------------------------------------------------------
 *   HEADER ELEMENTS
 *------------------------------------------------------------------*/
header {
    /*FLEX*/
    /*GRID*/
    /*POSTITION*/
    /*DISPLAY*/
    /*BORDER*/
    /*BACKGROUND*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSFORM*/
    /*ANIMATION*/
}
/**
 *  SECTION
 */
section {
    /*FLEX*/
    /*GRID*/
    /*POSTITION*/
    /*DISPLAY*/
    /*BORDER*/
    /*BACKGROUND*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSFORM*/
    /*ANIMATION*/
}
main {
    /*FLEX*/
    /*GRID*/
    /*POSTITION*/
    padding: 24px;
    /*DISPLAY*/
    @include flex__col--center();
    /*BORDER*/
    border-radius: $ui-border-radius;
    /*BACKGROUND*/
    /*TEXT*/
    /*SHADOW*/
    box-shadow: $ui-shadow;
    /*TRANSFORM*/
    /*ANIMATION*/
}
/*-------------------------------------------------------------------
 *   MAIN ELEMENTS
 *------------------------------------------------------------------*/

/*-------------------------------------------------------------------
 *   BUTTON ELEMENTS
 *------------------------------------------------------------------*/
button {
    /*FLEX*/
    /*GRID*/
    /*POSTITION*/
    /*DISPLAY*/
    /*BORDER*/
    /*BACKGROUND*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSFORM*/
    /*ANIMATION*/
}
/*-------------------------------------------------------------------
 *   INPUT ELEMENTS
 *------------------------------------------------------------------*/
/**
 *  INPUT
 */
input {
    /*FLEX*/
    /*GRID*/
    /*POSTITION*/
    /*DISPLAY*/
    /*BORDER*/
    /*BACKGROUND*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSFORM*/
    /*ANIMATION*/
}
/*-------------------------------------------------------------------
 *   CANVAS
 *------------------------------------------------------------------*/
canvas {
    //border: 1px solid rgba($color: red, $alpha: 0.2);
}
/*-------------------------------------------------------------------
 *   KEYFRAMES
 *------------------------------------------------------------------*/

    /*FLEX*/
    /*GRID*/
    /*POSTITION*/
    /*DISPLAY*/
    /*BORDER*/
    /*BACKGROUND*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSFORM*/
    /*ANIMATION*/